<div class="card" style="margin-top: 20px;">
  <h3 class="card-header bg-dark text-light">Courses</h3>
  <div class="card-body">
  <ul class="list">
    <% @courses.each do |c| %>
    <li><%= link_to c.title, c %></li>
    <% end %>
  </ul>

  <br/>

  <% if current_user.admin? || current_user.member? %>
    <%= link_to 'New Course', new_course_path, class:'btn btn-success' %>
  <% end %>
</div>
</div>
