<script src="http://cdnapi.kaltura.com/p/2387541/sp/238754100/embedIframeJs/uiconf_id/8704822/partner_id/2387541"></script>
<br>
<div class="container">
  <div class="row">
  <% @courses.each do |course| %>
    <div class="col-sm-4">
    <div class="card" style="width: 320px; margin-bottom: 20px;">
      <%if course.image.present? %>
      <div class="card-img-top" style="margin:10px 0px 0px 10px"><%= image_tag(course.image.url(:medium))%></div>
      <%end%>
      <div class="card-body">
        <h5 class="card-title"><%= course.title %></h5>
        <p class="card-text"><%= truncate(course.description, :length => 100)%></p>
        <%= link_to 'Read More...', course ,class: "btn btn-outline-secondary"%>
      </div>
    </div>
    </div>
  <% end %>
  </div>
</div>

<!--<div class="container">-->
<!--  <div class="card">-->
<!--    <div class="card-header"> ruby on rails </div>-->
<!--    <div class="card-body">-->
<!--      <object id="kaltura_player_1523023384" name="kaltura_player_1523023384" type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all" allowScriptAccess="always" height="500" width="500" bgcolor="#000000" data="http://cdnapi.kaltura.com/index.php/kwidget/cache_st/1523023384/wid/_2387541/uiconf_id/8704822/entry_id/0_gi9wowp6">-->
<!--        <param name="allowFullScreen" value="true"/>-->
<!--        <param name="allowNetworking" value="all"/>-->
<!--        <param name="allowScriptAccess" value="always"/>-->
<!--        <param name="bgcolor" value="#000000"/>-->
<!--        <param name="flashVars" value=""/>-->
<!--        <param name="movie" value="http://cdnapi.kaltura.com/index.php/kwidget/cache_st/1523023384/wid/_2387541/uiconf_id/8704822/entry_id/0_gi9wowp6"/>-->
<!--        <a href="http://corp.kaltura.com/products/video-platform-features">Video Platform</a>-->
<!--        <a href="http://corp.kaltura.com/Products/Features/Video-Management">Video Management</a>-->
<!--        <a href="http://corp.kaltura.com/Video-Solutions">Video Solutions</a>-->
<!--        <a href="http://corp.kaltura.com/Products/Features/Video-Player">Video Player</a>-->
<!--      </object>-->

<!--    </div>-->
<!--  </div>-->

<!--</div>-->





<%#= link_to "Visit Other Site", "http://www.kaltura.com/tiny/9426r"%>