<div class="container" style="margin-top: 30px">
  <div class="card">
    <div class="card-header">
      <h3>New Course</h3>
    </div>
    <div class="card-body">
      <%= render 'form', course: @course %>
    </div>
  </div>
<!--  <div class="row" style="text-align: center">-->
    <%#= link_to 'Back', courses_path ,class: "btn btn-primary"%>
<!--  </div>-->
</div>


